* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #080b0f;
    color: #e9e7e2;
    font-family: Arial, Helvetica, sans-serif;
}

.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 10%;
    max-width: 1100px;
}

.small-title {
    font-size: 13px;
    letter-spacing: 4px;
    color: #76808c;
    margin-bottom: 35px;
}

h1 {
    font-family: Georgia, "Times New Roman", serif;
    font-size: clamp(42px, 7vw, 90px);
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 35px;
}

.english {
    font-family: Georgia, "Times New Roman", serif;
    color: #9ca4ad;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 60px;
}

.intro {
    max-width: 650px;
    font-size: 17px;
    line-height: 1.8;
    color: #c4c3bf;
}

.english-text {
    margin-top: 10px;
    color: #737b84;
}
/* =========================
   NAVIGATION
========================= */

.navbar {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 28px 6%;

    background: rgba(8, 11, 15, 0.8);
    backdrop-filter: blur(12px);

    z-index: 1000;
}

.logo {
    color: #e9e7e2;

    text-decoration: none;

    font-size: 12px;
    letter-spacing: 4px;
}

.nav-links {
    display: flex;
    gap: 32px;
}

.nav-links a {
    color: #8d959f;

    text-decoration: none;

    font-size: 11px;
    letter-spacing: 2px;

    transition: 0.3s;
}

.nav-links a:hover {
    color: #ffffff;
}

.language {
    display: flex;
    align-items: center;
    gap: 7px;

    color: #616973;

    font-size: 11px;
}

.language button {
    background: none;
    border: none;

    color: #8d959f;

    cursor: pointer;

    font-size: 11px;
}

.language button:hover {
    color: #ffffff;
}
